@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: #000000;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

#__next,
main {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
